.img1{
    width: 1440;
    height: 710;
}

.img2{
    width: 1440;
    height: 154;
}

.img3{
    align-items: center;
    width: 863;
    height: 323;
}

.img4{
    align-items: center;
    width: 863;
    height: 323;
}

.text{
    text-align: center;
    width: 1274;
    height: 779;
}